.product-slider {
  overflow: hidden;
}

.product-slider__item_modified {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.main-banner__button {
  display: inline-block;
  background-color: rgb(var(--color-primary));
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.main-banner__button:hover {
  background-color: rgb(var(--color-primary-hover));
}


.product-slider__item_modified .product-slider__product-margin-bottom {
  margin-bottom: 20px;
}

.main-banner-container {
  display: flex;
  justify-content: space-between;
  /* Ensures spacing between child elements */
  margin: 0 auto;
  max-width: 1920px;
  height: auto;
}

.main-inner-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

.main-banner__left-overlay {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.main-banner__left-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner__left-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(42, 88, 203, 0.801);
  padding: 10px;
  border-radius: 5px;
}

@media (max-width:870px) {
  .main-inner-container {
    flex-direction: column;
    padding: 0 2rem;
    margin: 4rem 0;
    gap: 20px;
  }
}

.main-left,
.main-right {
  flex: 1;
  /* Ensure both divs take up equal space */
  box-sizing: border-box;
  /* Ensure padding doesn't affect width */
}

.main-left {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 600px;
  /* Ensures consistency in height */
  flex-basis: 49%;
  /* Ensures proper width allocation */
}

.main-left img:hover {
  filter: brightness(0.9);
  /* Add a dark overlay */
  transform: scale(1.005);
  /* Slight zoom-in effect */
}

.main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 600px;
  /* Ensures consistency in height */
  flex-basis: 49%;
  /* Ensures proper width allocation */
}

.product-slider--mobile-order .product-slider__item_modified {
  justify-content: space-between;
}


.product-slider__swiper {
  border-radius: 0.6rem;
  overflow: hidden;
  position: relative;
}

.product-slider__swiper:hover .swiper-bullet-active .svg__circle {
  animation: none !important;
  opacity: 0;
}

.product-slider__item_modified {
  display: flex;
  flex-direction: column;
  height: auto;
}

.product-slider__image,
.product-slider__content_modified {
  width: 100%;
  height: 50%;
  position: relative;
}

.product-slider__image img,
.product-slider__image svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: top;
}

.product-slider__image--cover img,
.product-slider__image--cover svg {
  object-fit: cover;
}

.product-slider__image--contain {
  display: flex;
  justify-content: center;
}

.product-slider__image--contain img,
.product-slider__image--contain svg {
  width: auto;
  margin: 0 auto;
  object-fit: contain;
}

.product-slider__content_modified {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

.product-slider__title,
.product-slider__text {
  text-align: center;
}

.product-slider__title {
  margin: 0.5rem 0 20px !important;
}


.product-slider__text {
  font-size: 1.6rem;
  color: rgb(var(--color-foreground-secondary));
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.product-slider__subheading {
  font-size: 1rem;
}

.product-slider__product {
  width: 100%;
}

.product-slider__product .card-horizontal-wrapper {
  background-color: rgb(var(--color-background-card-dark));
}

.product-slider__pagination.swiper-pagination-horizontal,
.product-slider__pagination.swiper-pagination-vertical {
  display: inline-flex;
  flex-direction: row;
  width: 3rem;
  position: absolute;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

.main-banner__left-overlay img {
  border-radius: 0.6rem;
}

@media (min-width: 800px) {
  .product-slider--desktop-order .product-slider__image {
    order: 1;
  }

  .main-inner-container {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .product-slider--desktop-order .product-slider__pagination.swiper-pagination-horizontal {
    left: 25%;
    transform: translateX(-25%);
  }

  .product-slider--desktop-order .product-slider__pagination.swiper-pagination-vertical {
    left: 2rem;
    right: unset;
    transform: translateY(-50%);
  }

  .product-slider__item_modified {
    flex-direction: column !important;
  }

  .product-slider__image,
  .product-slider__content_modified {
    width: 100% !important;
  }

  .product-slider__content_modified {
    padding: 2rem 4rem;

  }

  .product-slider__image {
    padding: 0;
  }

  .product-slider__title {
    max-width: 100%;
    font-size: calc(var(--font-heading-h2-scale) * 3rem);
  }
  .product-slider__text {
    max-width: 41rem;
  }
  .product-slider__text {
    margin-bottom: 6.4rem;
  }

  .product-slider__pagination.swiper-pagination-horizontal,
  .product-slider__pagination.swiper-pagination-vertical {
    flex-direction: column;
    top: 50%;
    right: 2rem;
    left: unset;
    bottom: unset;
    transform: translateY(-50%);
  }
}

@media (min-width: 1360px) {
  .product-slider--desktop-order .product-slider__pagination.swiper-pagination-horizontal {
    left: 2rem;
    right: unset;
    transform: translateY(-50%);
  }
}


@media (max-width: 1199px) {
  .product-slider--mobile-order .product-slider__image {
    order: 1;
  }

  .product-slider--mobile-order .product-slider__content_modified {
    padding-top: 7rem;
    padding-bottom: 3rem;
  }

  .product-slider--mobile-order .product-slider__pagination.swiper-pagination-horizontal {
    top: 2rem;
    bottom: unset;
  }

  .main-inner-container {
    padding: 0 2rem;
    margin-top: 2rem;
    gap: 20px;
  }
}


@media (min-width: 750px) {
  .product-slider__content_modified {
    padding: 0 4rem;
  }
  .product-slider__text {
    font-size: 2rem;
    margin-top: 2.3rem;
  }

}


@media (max-width: 800px) {

  .product-slider__item_modified {
    height: stretch !important;
  }

  .product-slider__content_modified {
    padding: 0 1.5rem 5rem 1.5rem;
  }

  .swiper-wrapper {
    height: 600px;
  }

  .main-right {
    flex-direction: unset;
    justify-content: unset;
    max-height: 600px;
  }

  .main-inner-container {
    gap: 20px;
  }
}

